body{
    background-image: none !important;
}

.desappear{
    display: none !important;
}

.title{
    color: #A62D4D !important;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

