body{
    background-image: none !important;
}

.desappear{
    display: none !important;
}

.title{
    color: #A62D4D !important;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text1{
    font-weight: 500 !important;
    color: #ffc400;
}

.text2{
    font-size: 1.5em !important;
    font-weight: 500 !important;
    color: rgb(255, 251, 247);
    text-shadow: 2px 2px rgb(0, 0, 0) !important;
}

@media(max-width: 425px){
    .resize1{
        font-size: 1.6em !important;
    }

    .resize2{
        font-size: 1em !important;
    }
}

