.divActivity{
    padding: 20px 10px;
}
.divCardActivity{    
    border-top: 5px solid rgb(48, 106, 230) !important;
    margin-top: 20px;
}
.divCardActivity a{
    color: rgb(75, 75, 75) !important;
    margin-bottom: 0;
}
.divColActivity{
    width: 100%;
    padding: 0 !important;
}

.divActivity a:hover{
    color: #000 !important;
    text-decoration: none;
}

.entregues{
    border-top: 5px solid rgb(55, 163, 28) !important;
}


@media(max-width: 425px){
    .divColActivity{
        margin-top: 10px;
        justify-content: center;
    }
}