body, html{
    height: 100%;
    margin: 0 auto;
    padding: 0;
    top: 0;
    left: 0;
}

body{
    height: 100%; 
    width: 100%;
    background-image: url('../images/redBackground.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

