.secondSearchBar{
    display: none;
}

body{
    background-image: none !important;
}
/* 
@media(max-width: 768px){
    .divDisapear{
        display: none;
    }
    
    .title{
        margin-top: 40px;
        margin-bottom: 60px;
    }
} */