body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/headphone.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 0;
    bottom: 0;
}  

video{
    width: 10%;
    height: 10%;
}