body{
    background-image: none !important;
    background-color: rgb(153, 127, 245) !important;
}


.title{
    color: #000000 !important;
    text-shadow: none;
}

.divProposals{
    padding: 30px;
    /* margin: 5px; */
    border-radius: 10px;
}

.titleProposal{
    color: #000000;
    text-align: center;
}

.prices{
    color: #f8cc07;
    text-shadow: 2px 2px #000000;
}

.iconAttribute{
    margin-bottom: 10px;
}

.attributeDescription{
    margin-bottom: 0 !important;
    margin-left: 20px;
}