body{
    background-image: none !important;
    background-color: rgb(153, 127, 245) !important;
}


.title{
    color: #000000 !important;
    text-shadow: none;
}

.divProposals{
    padding: 30px;
    /* margin: 5px; */
    border-radius: 10px;
}

.box{
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: rgb(13, 178, 228);
    height: 100%;
    border-top: 4px solid #fff;
    border-radius: 5px;
}

.contrast{
    border-top: 4px solid #f8cc07 !important;
    border: 2px solid #f8cc07;
}

.titleProposal{
    color: #000000;
    text-align: center;
}

.prices{
    color: #f8cc07;
    text-shadow: 2px 2px #000000;
}

.iconAttribute{
    margin-bottom: 10px;
}

.attributeDescription{
    margin-bottom: 0 !important;
    margin-left: 20px;
}