.teacherPic{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.conteudo{
    padding: 0 20px !important;
}

.activityArchive a{
    color: rgb(99, 99, 99);
}

.activityArchive a:hover{
    color: #000;
    text-decoration: none;
}